html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  border-style: ridge;
}
main {
  position: relative;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('assets/starrySky.png');
  background-color: Black;
}
@font-face {
  font-family: 'SpaceMono';
  src: url('assets/SpaceMono-Bold.ttf') format('truetype');
}
.spaceButton {
  font-family: 'SpaceMono';
}
